* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0b0f1a;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  #experience {
    width: 100%;
    height: 100%;
  }
  
  #experience-canvas {
    display: block;
    width: 100%;
    height: 100%;
  }